<div class="container footer">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p class="text-muted">
        <small>Elsewhere: <a href="http://www.amazon.com/Ara-Pehlivanian/e/B002MO0E9E/">Amazon</a>, <a href="https://twitter.com/ara_p">Twitter</a>, <a href="https://github.com/arapehl">GitHub</a>, <a href="https://medium.com/@ara">Medium</a>, <a href="http://lanyrd.com/profile/ara_p/">Lanyrd</a> or <a
            href="https://www.linkedin.com/in/arapehl">LinkedIn</a>.
        </small>
      </p>
      <p class="text-muted">
        <small>&copy; {{ page.date | date: '%Y' }} <a href="http://arapehlivanian.com/">Ara Pehlivanian</a> All Rights Reserved</small>
      </p>
    </div>
  </div>
</div>
