body {
  border-top: solid 50px black;
  border-bottom: solid 10px black;
  font-family: 'Lora', serif;
  min-height: 100vh;
}

.header {
  background: black;
}

.footer {
  margin-top: 100px;
}

.thirty {
  margin-top: 100px;
}

.page-header {
  padding-left: 22px;
  text-indent: -22px;
  margin-left: -22px;
}

.brand,
.brand:hover {
  position: absolute;
  top: -24px;
  left: 10px;
  font-family: 'Bowlby One SC', cursive;
  color: white;
  font-size: 71px;
  text-decoration: none;
  white-space: nowrap;
}
.brand abbr {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  letter-spacing: -0.05em;
}

h1 img {
  width: 36px;
  vertical-align: top;
}

.page-header {
  border: none;
}

.bg-warning {
  font-family: 'Open Sans', sans-serif;
  margin-left: -22px;
  padding: 15px 22px;
  border-radius: 3px;
}

time,
.byline {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.byline {
  margin: 10px 0 20px 0;
}

.archive li {
  margin-bottom: 12px;
}

.archive li time {
  display: block;
}
