<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <link href="/favicon.ico" rel="icon">
 
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,800|Lora|Bowlby+One+SC' rel='stylesheet' type='text/css'>

    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/vendor/html5shiv/dist/html5shiv.min.js"></script>
      <script src="/vendor/respond/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    {% include universal_header.html %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          {{ content }}
        </div>
      </div>
    </div>
    {% include universal_footer.html %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
