<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <link href="/favicon.ico" rel="icon">
 
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800|Lora|Bowlby+One+SC' rel='stylesheet' type='text/css'>

    <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/vendor/html5shiv/dist/html5shiv.min.js"></script>
      <script src="/vendor/respond/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-m-6 col-m-offset-3 col-lg-6 col-lg-offset-3">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Ara Pehlivanian</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-m-6 col-m-offset-3 col-lg-6 col-lg-offset-3">
          {{ content }}
          <hr>
          <p class="text-muted">
            <small>Elsewhere: <a href="http://www.amazon.com/Ara-Pehlivanian/e/B002MO0E9E/">Amazon</a>, <a href="https://twitter.com/ara_p">Twitter</a>, <a href="https://github.com/arapehl">GitHub</a>, <a href="https://medium.com/@ara">Medium</a>, <a href="http://lanyrd.com/profile/ara_p/">Lanyrd</a> or <a
                href="https://www.linkedin.com/in/arapehl">LinkedIn</a>.
            </small>
          </p>
          <p class="text-muted">
            <small>&copy; {{ page.date | date: '%Y' }} <a href="http://arapehlivanian.com/">Ara Pehlivanian</a> All Rights Reserved</small>
          </p>
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
